.player {
  @include centerPositioning();
  background-color: #ececec;
  border-radius: 20px;
  box-shadow: 0 6px 10px $shadow;
  height: 735px;
  max-height: 735px;
  max-width: 530px;
  overflow: hidden;
  position: absolute;
  width: 530px;

  &__nav {
    padding: 30px;

    &-logo {
      width: 120px;
    }
  }

  &__info {
    padding: 10px 30px 30px;

    &-display {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-bottom: 30px;

      &-equalizer {
        align-items: center;
        display: flex;
        justify-content: center;

        &-bar {
          background-color: $primary-color;
          background-image: linear-gradient($secondary-color, $primary-color);
          border-radius: 5px;
          height: 70px;
          margin: 0 1.5px;
          opacity: 0.7;
          transform: scaleY(0);
          transition: all 0.15s linear;
          width: 4px;

          &--inverse {
            background-image: linear-gradient($primary-color, $secondary-color);
          }
        }
      }

      &-thumbnail {
        border-radius: 50%;
        box-shadow: 0px -10px 50px #cc30cc67, 0px 10px 50px #f4631d;
        display: block;
        height: 200px;
        margin: 0 8%;
        object-fit: cover;
        width: 200px;
      }
    }

    &-description {
      padding: 10px 0;
      width: 100%;

      &-song {
        @include textOverflowEllipsis();
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 12px;
        text-align: center;
        width: 100%;
      }

      &-singer {
        @include textOverflowEllipsis();
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        width: 100%;
      }
    }
  }

  &__controller {
    background-color: #ffffff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    bottom: 0;
    box-shadow: 0px -3px 15px rgba(0, 0, 0, 0.08);
    color: #acb3c3;
    font-size: 15px;
    font-weight: 500;
    height: 260px;
    position: absolute;
    width: 100%;

    &-time {
      display: flex;
      flex-wrap: wrap;
      padding: 30px;
      position: relative;
      width: 100%;

      &-played,
      &-end {
        width: 50%;
      }

      &-end {
        text-align: right;
      }

      &-range {
        -webkit-appearance: none;
        height: 3px;
        margin: 16px 0 0;
        outline: none;
        width: 100%;

        &::-webkit-slider-runnable-track {
          background-color: #f2f2f2;
          border-radius: 3px;
          border: none;
          cursor: pointer;
          height: 3px;
          width: 100%;
        }

        &::-moz-range-track {
          background-color: #f2f2f2;
          border-radius: 3px;
          border: none;
          cursor: pointer;
          height: 3px;
          width: 100%;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          background: $primary-color;
          border-radius: 50%;
          cursor: pointer;
          height: 15px;
          margin-top: -6px;
          transition: all 0.2s ease;
          width: 15px;

          &:hover {
            transform: scale(1.2);
          }
        }

        &::-moz-range-thumb {
          -webkit-appearance: none;
          background: $primary-color;
          border-radius: 50%;
          border: none;
          cursor: pointer;
          height: 15px;
          margin-top: -6px;
          transition: all 0.1s ease;
          width: 15px;

          &:hover {
            transform: scale(1.2);
          }
        }
      }

      &-progress {
        background-color: $primary-color;
        border-radius: 3px;
        bottom: 3px;
        height: 3px;
        position: relative;
        width: calc(33%);
      }
    }

    &-buttons {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-top: 20px;
      width: 100%;

      &-btn {
        align-items: center;
        background: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        outline: none;
        position: relative;
        transition: all 0.2s ease;

        &--large {
          border-radius: 50%;
          box-shadow: 0px 0px 30px #f4631d80;
          height: 100px;
          margin: 0 50px;
          width: 100px;

          i {
            font-size: 30px;
          }

          .icon-play {
            margin-left: 6px;
          }
        }

        &--small {
          border-radius: 50%;
          height: 70px;
          width: 70px;

          i {
            font-size: 22px;
          }
        }

        &:active {
          transform: scale(0.9);
        }
      }
    }
  }
}
