* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

*:active {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
